---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="pb-6 sm:pb-8 lg:pb-12">
    <section class="max-w-screen-2xl px-4 md:px-8 mx-auto md:mt-2">
      <div class="flex flex-wrap justify-between mb-8 md:mb-16 ">
        <div
          class="w-full lg:w-1/3 flex flex-col justify-center lg:pt-48 lg:pb-24 mb-6 sm:mb-12 lg:mb-0"
        >
          <h1
            class="text-slate-900 dark:text-slate-50 text-4xl sm:text-5xl md:text-6xl font-bold mb-4 md:mb-8"
          >
            Bienvenido ! 🚀
          </h1>

          <p class="text-slate-600 max-w-md xl:text-lg dark:text-slate-50">
            Bienvenidos a MEXIC0DE_TUTO, una web de MEXIC0DE! Tutoriales y guias sobre
            el mundo de la tecnologia.
          </p>
          <div class="mt-2">
            <a
              class="inline-block bg-sky-700 hover:bg-cyan-600 focus-visible:ring ring-teal-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3 shadow-md"
              href="/blog">Blog</a
            >
          </div>
        </div>

        <div class="w-full lg:w-2/3 flex mb-12 md:mb-16">
          <div
            class="bg-gray-100 rounded-lg shadow-lg overflow-hidden relative z-10 top-12 md:top-16 left-12 md:left-16 -ml-12 lg:ml-0"
          >
            <img
              src="https://images.unsplash.com/photo-1564865878688-9a244444042a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
              loading="lazy"
              alt="Photo by Roman Synkevych"
              class="w-full h-full object-cover object-center"
            />
          </div>

          <div class="bg-gray-100 rounded-lg shadow-lg overflow-hidden">
            <img
              src="https://images.unsplash.com/photo-1608306448197-e83633f1261c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
              loading="lazy"
              alt="Photo by Mohammad Rahmani"
              class="w-full h-full object-cover object-center"
            />
          </div>
        </div>
      
      </div>
      
    </section>
  </div>
</MainLayout>
